@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-merri;
  }
  @font-face {
    font-family: "Menlo";
    src: url("../../public/assets/fonts/Menlo-Bold-Italic.ttf") format("opentype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Menlo";
    src: url("../../public/assets/fonts/Menlo-Bold.ttf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Menlo";
    src: url("../../public/assets/fonts/Menlo-Italic.ttf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Menlo";
    src: url("../../public/assets/fonts/Menlo-Regular.ttf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Merriweather";
    src: url("../../public/assets/fonts/Merriweather-Italic.ttf") format("opentype");
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Merriweather";
    src: url("../../public/assets/fonts/Merriweather-Regular.ttf") format("opentype");
    font-style: normal;
    font-display: swap;
  }

  h1 {
    @apply mb-5 text-center text-2xl font-bold sm:text-3xl md:text-4xl;
  }

  #writing-piece {
    hr {
      @apply mx-auto w-[50%] border-black;
    }
    a {
      @apply italic underline hover:text-slate-500;
    }

    p {
      @apply my-5 text-sm font-light leading-loose sm:text-base sm:leading-[35px] md:text-lg md:leading-[40px];
    }

    strong {
      @apply font-bold;
    }
  }
}
