@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-merri;
  }
  @font-face {
    font-family: "Menlo";
    src: url("../../public/assets/fonts/Menlo-Bold-Italic.ttf") format("opentype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Menlo";
    src: url("../../public/assets/fonts/Menlo-Bold.ttf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Menlo";
    src: url("../../public/assets/fonts/Menlo-Italic.ttf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Menlo";
    src: url("../../public/assets/fonts/Menlo-Regular.ttf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Merriweather";
    src: url("../../public/assets/fonts/Merriweather-Italic.ttf") format("opentype");
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Merriweather";
    src: url("../../public/assets/fonts/Merriweather-Regular.ttf") format("opentype");
    font-style: normal;
    font-display: swap;
  }

  /*  #writing-piece {
  } */
}
