/* ---------- CSS for rendered writing html ---------- */
.writing-piece {
  & hr {
    border: 0;
    width: 50%;
    height: 1px;
    background-color: darkslateblue;
    margin: 0 auto;
  }
  & h1 {
    font-size: 30px;
    color: blue;
    font-family: "Menlo";
    font-weight: 600;
    font-size: 20px;
  }

  & a {
    text-decoration: underline;
    font-style: italic;

    &:hover {
      color: darkgray;
    }
  }
}

@media screen and (max-width: 1536px) {
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}
@media screen and (max-width: 420px) {
}
/* --------------------------------------------------- */
